/* StorySection.css */

.story-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 640px) {
  .story-section {
    height: fit-content;
  }
}

@media (min-width: 1024px) {
  .story-section {
    height: 100vh;
  }
}

@media (min-width: 1440px) {
  .story-section {
    padding: 2rem;
  }
}

@media (min-width: 1920px) {
  .story-section {
    padding: 3rem;
  }
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 48rem;
  height: 366px;
  overflow: hidden;
  border-radius: 0.75rem;
}

.slides-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s;
}

.slide {
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide-title {
  font-size: 1.875rem;
  font-weight: 600;
  color: white;
  font-family: serif;
}

@media (min-width: 768px) {
  .slide-title {
    font-size: 3rem;
  }
}

.slide-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.slide-text {
  font-size: 0.75rem;
  color: #d1d5db;
  line-height: 1.5rem;
  text-align: center;
  max-width: 32rem;
}

@media (min-width: 640px) {
  .slide-text {
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) {
  .slide-text {
    font-size: 1rem;
  }
}

.slide-description {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 250px;
  font-size: 0.75rem;
  color: #d1d5db;
  line-height: 1rem;
}

@media (min-width: 768px) {
  .slide-description {
    font-size: 0.875rem;
  }
}

.navigation-buttons {
  position: absolute;
  bottom: 2.5rem;
  display: flex;
  gap: 1rem;
}

.nav-button {
  padding: 0.5rem;
  border: 2px solid #4b5563;
  border-radius: 9999px;
  background-color: transparent;
  cursor: pointer;
}

.nav-button svg {
  width: 16px;
  height: 28px;
}

.nav-button path {
  stroke: #4b5563;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
